{% extends 'base.html.twig' %}
{% block title %}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1 class="mx-auto my-5">Episode {{ episode.number }} de la saison {{ season.number }}
                de {{ program.title }}</h1>
        </div>
        <div class="row">
            <p class="text-justify">{{ episode.synopsis }}</p>
        </div>
        <a href="{{ path('wild_season', { 'id': season.id }) }}">Retour aux infos de la saison {{ season.number }}</a>
        <a href="{{ path('wild_show', { 'slug': program.title|replace({' ': '-'})|lower }) }}">Retour aux infos de la
        série</a>
        <div class="col-6 mx-auto my-auto">
            <div>
                {% if app.user %}
                    {{ author.email }}
                    <a href>Laisser un commentaire</a>
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button class="btn">{{ button_label|default('Save') }}</button>
                    {{ form_end(form) }}
                {% endif %}
            </div>
            <div>
                {% for comment in comments %}
                    <div>
                        <h1>{{ comment.author }}</h1>
                        <p>{{ comment.text }}</p>
                        {% if comment.author == app.user.email %}
                            <form method="post" action="{{ path('comment_delete', {'id': comment.id, 'path': episode.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comment.id) }}">
                                <button class="btn">Delete</button>
                            </form>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}