<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <a class="navbar-brand primary text-fifth" href="{{ path('wild_index') }}">Wild Series</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <a class="nav-link text-fifth" href="/">Home <span class="sr-only">(current)</span></a>
                <a class="nav-link text-fifth" href="{{ path('program_index') }}">All programs <span class="sr-only">(current)</span></a>
                {% if app.user %}
                    {{ app.user.email }}
                    <a class="nav-link text-fifth" href="{{ path('app_logout') }}">Se déconnecter<span class="sr-only">(current)</span></a>
                    <a class="nav-link text-fifth" href="{{ path('my-profile') }}">Mon compte<span class="sr-only">(current)</span></a>
                {% else %}

                    <a class="nav-link text-fifth" href="{{ path('app_login') }}">Se connecter<span class="sr-only">(current)</span></a>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>